<!DOCTYPE html>
<html lang="se">
  <head>
    <title>{%block title%} Välkommen till hotelet Waikiki {%endblock%}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/bokning.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/calender.css')}}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/hotel.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/slideshow.css')}}" />
  </head>

  <body>
    <header>
      <div class="navbar">
      {%block navbar%}
        <a href="/templates/hotel.html"><i class="fa fa-fw fa-home"></i>Hem</a>
        <a href="{{ url_for('omWaikiki')}}"
          ><i class="fa fa-fw fa-search"></i>Om Waikiki</a
        >
        <a href="#kontakt"><i class="fa fa-fw fa-envelope"></i>Kontakta Oss</a>
        {%endblock%}
        {% if current_user.is_authenticated %}
        
        <a style="float: right;" href="{{url_for('loggaut')}}"><i class="fa fa-fw fa-sign-out"></i>Logga ut</a>
        <a href="{{ url_for('minbokning')}}"
          style="float: right;"><i class="fa fa-fw fa-hotel"></i>Min bokning</a>
        <a style="float: right;" href="{{url_for('minKonto')}}"><i class="fa fa-fw fa-user-o "></i>Min Konto</a>
        
        {% else %}
          <a style="float: right;" href="{{url_for('loggain')}}"><i class="fa fa-fw fa-user-circle"></i>Logga in</a>
          <a style="float:right;" href="{{url_for('registrera')}}"><i class="fa fa-fw fa-user-plus"></i>Registrera</a>
        {% endif %}
      </div>
      <div class="main">{%block main%} {%endblock%}</div>
    </header>

    <section>
      <div class="content">
        {% with messages = get_flashed_messages(with_categories=True)%} {% if
        messages%} {% for category, message in messages %}
        <div class="{{category}}">{{message}}</div>
        {%endfor%} {%endif%} {%endwith%} {%block content%} {%endblock%}
      </div>
    </section>

    <!-- <footer>
      <div class="flex-container">
        <img
          src="../static/Images/bedroom.jpg"
          class="w3-round-medium"
          alt="bedroom"
          style="width: 30%"
        />
        <img
          src="../static/Images/breakfast.jpg"
          class="w3-round-medium"
          alt="breakfast"
          style="width: 30%"
        />
        <img
          src="/static/Images/hotel.jpg"
          class="w3-round-medium"
          alt="hotel"
          style="width: 30%"
        />
      </div>
    </footer> -->

    <script>
      //Ändra datum funktionen
      function myFunction(x) {
        x.classList.toggle("change");
      }

      var acc = document.getElementsByClassName("dropbtn");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }
      
      //Visar upp rum och datum
      filterSelection("rum1")
      function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("filterDiv");
        if (c == "all") c = "";
        for (i = 0; i < x.length; i++) {
          w3RemoveClass(x[i], "show");
          if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
      }

      function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
          if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
        }
      }

      function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
          while (arr1.indexOf(arr2[i]) > -1) {
            arr1.splice(arr1.indexOf(arr2[i]), 1);     
          }
        }
        element.className = arr1.join(" ");
      }

      // Add active class to the current button (highlight it)
      var btnContainer = document.getElementById("myBtnContainer");
      var btns = btnContainer.getElementsByClassName("bton");
      for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function(){
          var current = document.getElementsByClassName("active");
          current[0].className = current[0].className.replace(" active", "");
          this.className += " active";
        });
      }

        function myFunction(inputID, ulID) 
        {
          var input, filter, ul, li, a, i, txtValue;
          input = document.getElementById(inputID);
          filter = input.value.toUpperCase();
          ul = document.getElementById(ulID);
          li = ul.getElementsByTagName("li");
          for (i = 0; i < li.length; i++) 
          {
              a = li[i].getElementsByTagName("a")[0];
              txtValue = a.textContent || a.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) 
              {
                  li[i].style.display = "";
              } 
              else 
              {
                  li[i].style.display = "none";
              }
          }
        }
    </script>
  </body>
</html>
